<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo animate animate__animated animate__fadeInDown">
    <img class="img-item"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt9621s0jxvIqCJ8mb1A8UjqRW2cEc1ep1fA&usqp=CAU" 
    alt="imagem de oficina"
    />
    <p>
      Bem-vindo à PitStopPro!🚗 Aqui você encontra os melhores equipamentos e os melhores profissionais especializados 
      para atender às suas necessidades. Agende já seu orçamento!📱
    </p>
    <ion-card [routerLink]="['/tabs/tab2']">
      <ion-item>
        <ion-thumbnail slot="start">
          <img 
          src="https://th.bing.com/th?id=OIP.EQeZ8oolku9F6fXny0of8QHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" 
          />
        </ion-thumbnail>
          <ion-label>Serviços</ion-label>
      </ion-item>
    </ion-card>    
    <ion-card [routerLink]="['/tabs/tab3']">
      <ion-item>
        <ion-thumbnail slot="start">
          <img 
          src="https://th.bing.com/th/id/OIP.QUW2-shkmhZvoXuPXL7YwwHaHa?w=208&h=208&c=7&r=0&o=5&dpr=1.5&pid=1.7" 
          />
        </ion-thumbnail>
          <ion-label>Agendamento</ion-label>
      </ion-item>
    </ion-card>
    
    

  </div>

</ion-content>
